.project-content{
    background-color: #fff9c4;
}
.project-details:hover{
    opacity: .8 ;
    transition: opacity 500ms ease-in-out;
}
.project-details-backdrop{
    position: absolute;
    top:0; bottom: 0; left: 0; right: 0;
    z-index: 0;
}
.card{
    z-index: 2;
}
.card-title{
    a{  
        color: rgb(233, 30, 99);
        &:hover, &:focus{
            color: darken( rgb(233, 30, 99), 15%);
            font-size: 50px;;
            transition: all 500ms ease-in-out;
        }
    }
}