.profile .card{
    position: absolute;
    width: 0px;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 800ms ease-in-out, visibility 800ms ease-in-out;

}
.profile:hover > .card{
    visibility: visible;
    opacity: .9;
    width: 300px;
    height: 350px;
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: 1;
}